/* Setting Colour Pattle Variables */
/*please use these vars instead of static colours*/
:root {
  --primary-1: #bc0a0f;
  --primary-2: #201d1d;
  --accent-1: #edd256;
  --accent-2: #efc081;
  --highlight-1: #eedb86;
  --background: #f8f5f2;
  --buttonHover: #bc0a0f;
  --buttonActive: #d1d0d0;
  /* 
    use example:
    background-color: var(--background);

    This way we can change how the whole site looks simply by adjusting theses var's
    */
}
body {
  font-family: Arial;
}

#contentContainer {
  width: auto;
  height: auto;
  margin: 0em 1em 0em 15em;
  background-color: var(--background);
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--background);
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: var(--buttonHover);
}
.tab button.active {
  background-color: var(--buttonActive);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#contentThumbnail {
    box-shadow: 0.1em 0.1em 0.5em 0.01em var(--primary-2);
    margin: 0.3em; 
    padding: 0.5em;
    width: 22.5em;
    height: 14em;
    display: inline-block;
    border-radius: 1em;
    border-color: var(--promary-2);
}
#contentThumbnail:hover{
    box-shadow: 0.1em 0.1em 0.5em 0.01em var(--buttonHover);
    margin: 0.05em;
    padding: 0.75em;
}
#contentThumbnail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:12.5em;
    border-radius: 0.5em;
}
#contentThumbnail p {
    text-align: center;
    margin: 0.3em;
}